During the experiment you will listen to various sentences. Your task is to make the speaker sound like she is <b>%s</b>.
You can modify the voice by moving the slider.
Differences between the slider positions may be subtle, so listen carefully and try your best.
You do not need to memorize the slider position, just move the slider to convey the given emotion.
The best slider position will be different from trial to trial, feel free to experiment different slider positions before making your choice.

<br>
You start with an exercise, to get used to the slider. Afterwards you continue with the main part of the experiment.

<br>
<br>
<small>
    The consistency of your responses will be checked automatically, and low consistency
    will lead to exclusion. The best way to achieve consistency is to focus properly on each question
    and give it your best attempt.
</small>