Your task during the experiment is to make the speaker sound like she is <b>angy</b>.<br>
Please think of a situation where you experienced a <i>demeaning offense against you and yours.</i>
For example, somebody behaves rudely toward you and hinders you from achieving a valued goal.
The situation is unexpected and unpleasant, but you have the power to retaliate.