<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>{% block title %}{% endblock %}</title>

    {% include "scripts.html" %}

</head>
<body>
{% include "top-nav.html" %}
<div class="d-flex" id="wrapper">

    {% include "left-sidebar.html" %}

    <div class="container mt-5" id="content">
        {% block content %} {% endblock %}
    </div>

    <div class="bg-light" id="sidebar-right">
        {% block sidebar_right %} {% endblock %}
    </div>
</div>

{% block chart_definition %} {% endblock %}

</body>
</html>