<!-- Sidebar -->
<div class="bg-light" id="sidebar-left">
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">About</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Theory</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Some cool point</a>
    </div>
</div>
<!-- /#sidebar-left -->

 <script>


    $( function() {
        $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $("#wrapper").toggleClass("toggled");
  } );
</script>