{% extends "base.html" %}

{% block title %}Raw data{% endblock %}


{% block content %}
    <div class="row mt-3" style="width: 100%">
        <h2 class="mx-auto font-weight-bold" id="title">Iteration 1</h2>
    </div>
    {#        <div class="radarChart mx-auto"></div>#}
    <div class="col-2" id="chart1"></div>
    <div class="col-2" id="chart2"></div>
{% endblock %}


{% block sidebar_right %}
    <form class="p-3">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

{% block chart_definition %}
    <!-- Create a div where the graph will take place -->
    <script>
        /* Radar chart design created by Nadieh Bremer - VisualCinnamon.com */

        //////////////////////////////////////////////////////////////
        //////////////////////// Set-Up //////////////////////////////
        //////////////////////////////////////////////////////////////

        var margin = {
                top: 100,
                right: 100,
                bottom: 300,
                left: 0
            },
            //width = window.innerHeight - margin.left - margin.right,
            //height = width - margin.bottom;
            width = $('.col-2').width(),
            height = $('.col-2').width();

        //////////////////////////////////////////////////////////////
        ////////////////////////// Data //////////////////////////////
        //////////////////////////////////////////////////////////////

        var data = [
            [//iPhone
                {axis: "Duration", value: 0.28, se: 0.2},
                {axis: "Tremelo rate", value: 0.29, se: 0.2},
                {axis: "Tremelo depth", value: 0.17, se: 0.2},
                {axis: "Pitch shift", value: 0.22, se: 0.2},
                {axis: "Pitch range", value: 0.02, se: 0.2},
                {axis: "Pitch slope", value: 0.21, se: 0.2},
                {axis: "Jitter", value: 0.50, se: 0.2},
                {axis: "Vibrato rate", value: 0.50, se: 0.2},
                {axis: "Vibrato depth", value: 0.50, se: 0.2}
            ], [//iPhone
                {axis: "Duration", value: 0.58, se: 0.2},
                {axis: "Tremelo rate", value: 0.29, se: 0.2},
                {axis: "Tremelo depth", value: 0.17, se: 0.2},
                {axis: "Pitch shift", value: 0.22, se: 0.2},
                {axis: "Pitch range", value: 0.62, se: 0.2},
                {axis: "Pitch slope", value: 0.21, se: 0.2},
                {axis: "Jitter", value: 0.50, se: 0.2},
                {axis: "Vibrato rate", value: 0.50, se: 0.2},
                {axis: "Vibrato depth", value: 0.50, se: 0.2}
            ],
            [//iPhone
                {axis: "Duration", value: 0.18, se: 0.2},
                {axis: "Tremelo rate", value: 0.39, se: 0.2},
                {axis: "Tremelo depth", value: 0.57, se: 0.2},
                {axis: "Pitch shift", value: 0.62, se: 0.2},
                {axis: "Pitch range", value: 0.42, se: 0.2},
                {axis: "Pitch slope", value: 0.51, se: 0.2},
                {axis: "Jitter", value: 0.50, se: 0.2},
                {axis: "Vibrato rate", value: 0.50, se: 0.2},
                {axis: "Vibrato depth", value: 0.50, se: 0.2}
            ]
        ];
        //////////////////////////////////////////////////////////////
        //////////////////// Draw the Chart //////////////////////////
        //////////////////////////////////////////////////////////////

        var color = d3.scale.ordinal()
            .range(["#00c101", "#fe0122", "#fbad00", '#002a7f']);

        // TODO add legend

        var radarChartOptions = {
            w: width,
            h: height,
            margin: margin,
            maxValue: 0.5,
            levels: 5,
            roundStrokes: false,
            color: color,
            showAxisTicks: false,
            showLabels: false,
            showTooltips: false
        };
        //Call function to draw the Radar chart
        RadarChart("#chart1", data, radarChartOptions);
    </script>
{% endblock %}