<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#"><span id="menu-toggle" class="navbar-toggler-icon"> </span> Gibbs slider visualiser</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Raw data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Aggregated data</a>
            </li>
        </ul>
        <span>Current experiment </span>
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <b>Emotional Prosody</b>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><b>Emotional Prosody</b></a>
                <a class="dropdown-item" href="#">GANSpace</a>
                <a class="dropdown-item" href="#">Timbre</a>
                <a class="dropdown-item" href="#">Colours</a>
            </div>
        </div>
    </div>
</nav>