.legend {
    fill: #333333;
}

.tooltip {
    fill: #333333;
}

tspan {
    font-size: 0.9rem;
}

.radarChart {
    display: flex;
    align-items: center;
    justify-content: center
}

.list-group-item {
    border: none;
}

/*#sidebar-right {*/
/*    resize: both;*/
/*}*/