During the experiment you will listen to various sentences. Your task is to rate how emotional the speaker sounds.
You do this task for the emotions 'happiness', 'sadness' and 'anger'. Before you start listening to the sentences, you
will read some context. Each sentences is only played once and sometimes it's hard to make a decision, so try your best
and listen carefully.

<br>
On the next page you will read the first context.

<br>
<br>
<small>
    The consistency of your responses will be checked automatically, and low consistency
    will lead to exclusion. The best way to achieve consistency is to focus properly on each question
    and give it your best attempt.
</small>