Your task during the experiment is to make the speaker sound like she is <b>sad</b>.<br>
Please think of a situation where you experienced <i>an irrevocable loss.</i>
For example, you lose someone or something very valuable to you, and you have no way of getting back that what you want.